.physician-panel{
    background-color: lightgrey;
    height: 100vh;
    padding: 2% !important;
}

.notable-header{
    color:  blue;
    font-weight: bold;
}

.physicians-header{
    padding-top: 5%;
    font-weight: bolder;
}

.physician-label{
    padding-left: 5%;
    
}
.physician-label:hover{
    background-color: lightblue;
    cursor: pointer;
}